@charset "UTF-8";
@font-face {
    font-family: 'bebasneueregular';
    src: url('fonts/Bebas-Neue-Pro-Regular-BF66cf3d7814160.ttf'), format ('opentype');
}
@font-face {
    font-family: 'bebasneuebold';
    src: url('fonts/BebasNeue\ Bold.ttf'), format ('opentype');
}

@font-face {
    font-family: 'bebasneueextrabold';
    src: url(fonts/Bebas-Neue-Pro-Expanded-ExtraBold-BF66cf3d793166e.ttf), format('opentype');
}
:root{
    --cor1:white;
    --cor2:#e0e0e0;
    --cor3:#0090ff;
    --cor4:#181818;
    --cor5:black;

    /*da pra fazer das fonts*/
}

body{
    margin: 0px;
    background-attachment: fixed;

    header{
        text-align: center;
        margin-top: 10px;
        
        a{
            color: var(--cor1);
        }

        div{
            text-transform: uppercase; /*maiusculas*/
            font-family: 'bebasneuebold';
            font-size: clamp(10px, 4.5vw, 34px);
            display: inline-block; /*mesma linha*/
            color: var(--cor4);
            /*border: 2px solid var(--cor5); /*Handbreak de borda*/
            min-width: 30px; /*largura*/
            padding-top: 10px;
            height: 22%; /*altura*/
        }
        div.basico{
            text-align: left;
            margin-left: 7vw;
            float: left;
        }
        div.basico:hover{ /*AO PASSAR O MOUSE -> HOVER é uma pseudoclasse*/
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel:hover{
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel{
            text-align: right;
            float: right;
            margin-right: 7vw;
        }
        div.linkavel:hover{
            color: var(--cor3);
            text-decoration: underline;
            transition-duration: .5s;
        }
        .bebasbold {
            font-family: 'bebasneuebold';
            font-weight: bold;
            } /*O último se sobressai */

        div a {
            color: inherit; /*GPT*/
            text-decoration: none;
        }
        div a:visited,
        div a:active {
            color: inherit;
            text-decoration: none;
        }
    }  
 
    main.nome {
        margin-top: clamp(50px, 10vw, 100px);
        padding-right: 7vw;
        padding-left: 7vw;
        
        h1{
            font-weight: bold;
            font-family: 'bebasneuebold';
            /*font-size:3em; /* vw */
            font-size: clamp(30px, 11vw, 80px);
            text-align: left;
            margin: 0px;
            line-height: clamp(50px, 9vw, 65px);

            #nome{
                color: var(--cor3);
            }
        }
        p{
            margin-top: 8px;
            font-family: 'bebasneueregular';
            font-size:1em;
            text-align: justify;
            max-width: 51%;
            margin-right: 0px;
        }

        section{
            width: clamp(50px, 22vw, 100%);
            float: right;
            object-fit: cover;
            overflow: hidden;
            justify-content: center;
            border-radius: 10px;
        }

        img.ftperfil{
            height: 200px;
            border-radius: 10px;
            }
        }

    h1.projetos{
    font-weight: bold;
    font-family: 'bebasneuebold';
    /*font-size:3em; /* vw */
    font-size: clamp(25px, 8vw, 50px);
    margin-right: 1000px;
    text-align: left;
    margin-top: 25px;
    padding-left: 7vw;
    margin: 0px;
    font-size: 2em;
    padding-bottom: 10px;
    }
    section {
        display: flex;
        padding-left: 7vw;
        padding-right: 7vw;
        h2{
            font-family: 'bebasneuebold';
            line-height: 0px;
        }
        p{
            font-family: 'bebasneueregular';
        }


    article{
        width: 33%;
        box-sizing: border-box;
        /*padding: 2px;*/
    }
    iframe{
        height: 100px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5%;
    }

    /*::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }*/
    }
        
    footer{
        display: flex;
        padding-top: 30px;
        margin-top: 50px;
        background-color: var(--cor4);
        color: var(--cor1);
        height: clamp(10%, calc(170px - 6vw), 25%);
        border-bottom: 40px;
        position: fixed;
        bottom: 0;
        width: 100%;

        h1{
            position: fixed;
            line-height: 90%;
            font-size:3em;
            text-align: left;
            font-family: 'bebasneuebold';
            margin: 0px;
            max-width: 30%;
        }

        article#icones{
            display: flex;
            position: fixed;
            margin-top: 20px;
            margin-right: 7vw;
            right: 0px;
            width: 45%;
        }

        img#contatos {
            width: 42px;
            height: auto;
            margin-left: 25px;
        }
        img#contatos:hover {
            opacity: 90%;
            /*margin-top:2px;*/
        }
        .sombracinza:hover img{
            filter: drop-shadow(
            2px 2px 0px var(--cor2));
        }
        .sombraazul:hover img{
            filter: drop-shadow(
            2px 2px 0px var(--cor3));
        }
        #textobranco{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-family:'bebasneueregular';
            font-size: 1em;
        }
    } 
}

/*
a::after{ DOIS PONTOS REPRESENTA UM PSEUDOELEMENTO, QUE ADICIONA CONTEÚDO VIA CSS, NO CASO AQUI UMA SETA.
    content: '⬇'; 
}*/