@charset "UTF-8";
@font-face {
    font-family: 'bebasneueregular';
    src: url('fonts/Bebas-Neue-Pro-Regular-BF66cf3d7814160.ttf'), format ('opentype');
}
@font-face {
    font-family: 'bebasneuebold';
    src: url('fonts/BebasNeue\ Bold.ttf'), format ('opentype');
}

@font-face {
    font-family: 'bebasneueextrabold';
    src: url(fonts/Bebas-Neue-Pro-Expanded-ExtraBold-BF66cf3d793166e.ttf), format('opentype');
}
:root{
    --cor1:white;
    --cor2:#e0e0e0;
    --cor3:#0090ff;
    --cor4:#181818;
    --cor5:black;

    /*da pra fazer das fonts*/
}

body{
    margin: 0 7vw 0 7vw;
    background-attachment: fixed;

    header{
        text-align: center;
        margin-top: 10px;
        
        a{
            color: var(--cor1);
        }

        div{
            text-transform: uppercase; /*maiusculas*/
            font-family: 'bebasneuebold';
            font-size: 5vw;
            display: inline-block; /*mesma linha*/
            color: var(--cor4);
            /*border: 2px solid var(--cor5); /*Handbreak de borda*/
            min-width: 30px; /*largura*/
            padding-top: 10px;
            height: 22%; /*altura*/
        }
        div.basico{
            text-align: left;
            float: left;
        }
        div.basico:hover{ /*AO PASSAR O MOUSE -> HOVER é uma pseudoclasse*/
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel:hover{
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel{
            text-align: right;
            padding-left: 20px;
            float: right;
        }
        div.linkavel:hover{
            color: var(--cor3);
            text-decoration: underline;
            transition-duration: .5s;
        }
        .bebasbold {
            font-family: 'bebasneuebold';
            font-weight: bold;
            } /*O último se sobressai */

        div a {
            color: inherit; /*GPT*/
            text-decoration: none;
        }
        div a:visited,
        div a:active {
            color: inherit;
            text-decoration: none;
        }
    }  
 
    main.nome {
        margin-top: 5vh;
        
        h1{
            font-weight: bold;
            font-family: 'bebasneuebold';
            /*font-size:3em; /* vw */
            font-size: 11vw;
            text-align: left;
            margin: 0px;
            line-height: 9vw;

            #nome{
                color: var(--cor3);
            }
        }
        p{
            margin-top: 8px;
            font-family: 'bebasneueregular';
            font-size:1em;
            text-align: justify;
            max-width: 51%;
            margin-right: 0px;
        }

        section{
            width: 37vw;
            float: right;
            object-fit: cover;
            overflow: hidden;
            justify-content: center;
            border-radius: 10px;
        }

        img.ftperfil{
            height: 200px;
            border-radius: 10px;
            }
        }

    h1.projetos{
    font-weight: bold;
    font-family: 'bebasneuebold';
    /*font-size:3em; /* vw */
    font-size: 8vw;
    margin-right: 1000px;
    text-align: left;
    margin: 0px;
    font-size: 2em;
    padding-bottom: 10px;
    }
    section {
        display: flex;
        h2{
            font-family: 'bebasneuebold';
            line-height: 0px;
        }
        p{
            font-family: 'bebasneueregular';
            text-align: justify;
        }

    article{
        width: 50%;
        box-sizing: border-box;
        padding: 0 5px 0 5px;
    }

    iframe{
        height: 15vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        /*box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.134)*/
        }
    }
        
    footer{
        display: flex;
        padding-top: 30px;
        margin-top: 50px;
        height: 18%;
        width: 100%;
        background-color: var(--cor4);
        color: var(--cor1);
        border-bottom: 40px;
        position: fixed;
        bottom: 0;
        left: 0;

        h1{
            padding-left: 7vw;
            position: fixed;
            line-height: 80%;
            font-size: 3em;
            text-align: left;
            font-family: 'bebasneuebold';
            margin: 0px;
            width: 50%;
        }

        article#icones{
            display: flex;
            position: fixed;
            margin-top: 20px;
            right: 7vw;
            width: 45%;
        }

        img#contatos {
            width: 42px;
            height: auto;
            margin-left: 12px;
        }
        img#contatos:hover {
            opacity: 90%;
            /*margin-top:2px;*/
        }
        .sombracinza:hover img{
            filter: drop-shadow(
            2px 2px 0px var(--cor2));
        }
        .sombraazul:hover img{
            filter: drop-shadow(
            2px 2px 0px var(--cor3));
        }
        #textobranco{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-family:'bebasneueregular';
            font-size: 1em;
        }
    } 
}

/*
a::after{ DOIS PONTOS REPRESENTA UM PSEUDOELEMENTO, QUE ADICIONA CONTEÚDO VIA CSS, NO CASO AQUI UMA SETA.
    content: '⬇'; 
}*/