@charset "UTF-8";
@font-face {
    font-family: 'bebasneueregular';
    src: url('fonts/Bebas-Neue-Pro-Regular-BF66cf3d7814160.ttf'), format ('opentype');
}
@font-face {
    font-family: 'bebasneuebold';
    src: url('fonts/BebasNeue\ Bold.ttf'), format ('opentype');
}

@font-face {
    font-family: 'bebasneueextrabold';
    src: url(fonts/Bebas-Neue-Pro-Expanded-ExtraBold-BF66cf3d793166e.ttf), format('opentype');
}
:root{
    --cor1:white;
    --cor2:#e0e0e0;
    --cor3:#0090ff;
    --cor4:#181818;
    --cor5:black;

    /*da pra fazer das fonts*/
}

body{
    margin: 0px;

    header{
        text-align: center;
        margin-top: 10px;
        
        a{
            color: var(--cor1);
        }

        div{
            text-transform: uppercase; /*maiusculas*/
            font-family: 'bebasneuebold';
            font-size: clamp(10px, 4.5vw, 35px);
            display: inline-block; /*mesma linha*/
            color: var(--cor4);
            /*border: 2px solid var(--cor5); /*Handbreak de borda*/
            min-width: 30px; /*largura*/
            padding-top: 10px;
            height: 22%; /*altura*/
        }
        div.basico{
            text-align: left;
            margin-left: 7vw;
            float: left;
        }
        div.basico:hover{ /*AO PASSAR O MOUSE -> HOVER é uma pseudoclasse*/
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel:hover{ /*AO PASSAR O MOUSE -> HOVER é uma pseudoclasse*/
            color: var(--cor3);
            transition-duration: .5s;
        }
        div.linkavel{
            text-align: right;
            float: right;
            margin-right: 7vw;
        }
        div.linkavel:hover{ /*AO PASSAR O MOUSE -> HOVER é uma pseudoclasse*/
            color: var(--cor3);
            text-decoration: underline;
            transition-duration: .5s;
        }
        .bebasbold {
            font-family: 'bebasneuebold';
            font-weight: bold;
            } /*O último se sobressai */

        div a {
            color: inherit; /*GPT*/
            text-decoration: none;
        }
        div a:visited,
        div a:active {
            color: inherit;
            text-decoration: none;
        }
    }  
 
    main.nome {
        margin-top: clamp(60px, 10vw, 100px);
        padding-left: 7vw;
        h1{
            font-weight: bold;
            font-family: 'bebasneuebold';
            /*font-size:3em; /* vw */
            font-size: clamp(30px, 11vw, 80px);
            text-align: left;
            margin: 0px;
            line-height: clamp(50px, 9vw, 65px);

            #nome{
                color: var(--cor3);
            }
        }
        p{
            margin-top: 8px;
            font-family: 'bebasneueregular';
            font-size:1em;
            text-align: left;
            max-width: 45%;
        
        }
        img.ftperfil{
            max-width: 180px;
            padding-right: 7vw;
            float: right;
            }
        }

    h1.projetos{
    font-weight: bold;
    font-family: 'bebasneuebold';
    /*font-size:3em; /* vw */
    font-size: clamp(25px, 8vw, 50px);
    text-align: left;
    margin-top: 25px;
    padding-left: 7vw;
    margin: 0px;
    }
    section {
        display: flex;
        padding-left: 7vw;
        padding-right: 7vw;
        h2{
            font-family: 'bebasneuebold';
            line-height: 0px;
        }
        p{
            font-family: 'bebasneueregular';
        }


    article{
        width: 33%;
    }
    iframe{
        height: 100px;
        width: 100%;
    }
    }
        
    footer{
        display: flex;
        padding-top: 30px;;
        margin-top: 50px;
        background-color: var(--cor4);
        color: var(--cor1);
        height: clamp(10%, calc(180px - 6vw), 25%);
        border-bottom: 40px;
        position: fixed;
        bottom: 0;
        width: 100%;

        #icones{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        h1{
            position: absolute;
            top: 45%;
            transform: translate(0%, -50%);
            font-size:3em;
            text-align: left;
            font-family: 'bebasneuebold';
            margin: 0px;
            max-width: 30%;
        }

        img#contatos {
            margin-left: 33%;
            width: 30px;
            height: auto;
            padding: 0 0 10px 5px;
        }
        p{
            position: absolute;
            font-size:1.2em;
            line-height: 42px;
            transform: translate(0%, -22%);
            padding-left: 55%;
            font-family:'bebasneueregular';
        }
        
        img#contatos:hover {
            opacity: 90%;
            /*margin-top:2px;*/
        }
        .linkedin:hover{
            filter: drop-shadow(
            2px 2px 0px var(--cor2));}
        .github:hover{
            filter: drop-shadow(
            2px 2px 0px var(--cor3));}
        .email:hover{
            filter: drop-shadow(
            2px 2px 0px var(--cor2));}
    } 
}

/*
a::after{ DOIS PONTOS REPRESENTA UM PSEUDOELEMENTO, QUE ADICIONA CONTEÚDO VIA CSS, NO CASO AQUI UMA SETA.
    content: '⬇'; 
}*/